/* Base */
body {
    display: none;
    min-width: 400px;
}

/* Navbar */
#navbar {
    background: black;
    width: 100%;
}

#headerIcon {
    width: 1.6em;
    height: 1.6em;
    margin: 5px;
}

#headerText {
    color: white;
    margin-left: 10px;
}

 /* Sidebar */
 #wrapper {
    overflow-x: hidden;
 }

 .list-group-item-action.bg-black, #menu-toggle {
    color: white;
    -webkit-transition: color 0.25s ease !important;
    -moz-transition: color 0.25s ease !important;
    -o-transition: color 0.25s ease !important;
    transition: color 0.25s ease !important;
 }

 .list-group-item-action.bg-black:hover, #menu-toggle:hover {
     color: lightcoral !important;
 }

 

#sidebar-wrapper {
  background: black !important;
  min-height: 100vh;
  margin-left: -16rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  margin-right: -16rem;
}

@media (max-width: 1920px) {
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

.bg-black {
    background: black !important;
}

/* Page */
.icon {
    width: 20px;
    height: 20px;
}

#file, #folder {
    display: none;
}

.icon-btn svg,
.icon-btn span {
    vertical-align: middle;
    display: inline-block;
}

button {
    outline:none !important; 
    border: none !important;
    border-color: none !important;
    background: none;
    background-color: none;
    text-decoration: none;
 }

button:active {
    outline: none !important; 
 }