<nav class="navbar navbar-dark navbar-expand-lg border-bottom border-danger" id="navbar">
    <!-- SIDEBAR -->
    <div class="col d-flex justify-content-start">
        <button class="text-light collapse show" id="menu-toggle">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
    </div>
    <!-- /SIDEBAR -->
    <!-- LOGO -->
    <div class="col d-flex justify-content-center">
        <button class="navbar-brand" onclick="window.location.href='/index.html'">
            <img src="/assets/img/logo.ico" id="headerIcon">
            <span id="headerText">SharedSpace</span>
        </button>
    </div>
    <!-- /LOGO -->
    <!-- USER DROPDOWN -->
    <div class="col d-flex justify-content-end">
        <div class="collapse show" id="userDropdown">
            <div class="navbar-nav dropdown">
                <button class="nav-link dropdown-toggle align-right" id="userDropDownBtn" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle icon mr-2"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd"
                            d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                    </svg>
                    <span class="mr-1 collapse show" id="collapseUserDropDown">Usuário</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="userDropDownBtn">
                    <button onclick="window.location.href='/pages/login.html'"
                        class="dropdown-item bg-white">Login</button>
                    <button onclick="window.location.href='/pages/signup.html'"
                        class="dropdown-item bg-white">Registrar</button>
                    <button onclick="logout()" class="dropdown-item bg-white">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /USER DROPDOWN -->
</nav>
<script src="/assets/elements/navbar.js"></script>