<div id="sidebar-wrapper">
    <div class="list-group mt-2">
        <button onclick="window.location.href='/index.html'" class="list-group-item list-group-item-action bg-black text-light">Arquivos</a>
        <button class="list-group-item list-group-item-action bg-black text-light">Dispositivos</a>
    </div>
</div>